# samain aja dengan .env yang di dlm src (entah kenapa perlu 2)
DIRECT_URL="supabase direct url (for prisma migration)"
DATABASE_URL="supabase connection string"
JWT_PRIVATE="jwt private key"
JWT_PUBLIC="jwt public key"

GOOGLE_CLIENT_ID="google client id"
GOOGLE_CLIENT_SECRET="google client secret"
GOOGLE_REDIRECT_URI="google redirect uri"