EXPO_PUBLIC_ANDROID_CLIENT_ID=google client id
EXPO_PUBLIC_IOS_CLIENT_ID=google client id
EXPO_PUBLIC_WEB_CLIENT_ID=google client id

EXPO_PUBLIC_MICROSOFT_CLIENT_ID=microsoft client id
EXPO_PUBLIC_MICROSOFT_OBJECT_ID=microsoft object id
EXPO_PUBLIC_MICROSOFT_TENANT_ID=microsoft tenant id

EXPO_PUBLIC_BACKEND_URL=http://localhost
EXPO_PUBLIC_BACKEND_PORT=3001
